 .ajax_notification {
    top: 0;
    position: fixed;
    margin: 50px auto 0 auto;
    padding: 5px;
    width: 50%;

    z-index: 1100;
    text-align: center;
    display: inline;
    left: 0;
    right: 0;
    border: 1px solid #e2b709;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 5px 90px #888;
    -moz-box-shadow: 0 5px 90px #888;
    -webkit-box-shadow: 0 5px 90px #888;
}
